.orange {
    color: #29bf12;
}

.about-container {
    max-width: 700px;
    margin: auto !important;
    margin: 30px;
    background-color: #001925;
    padding: 30px;
    border-left: 5px solid #29bf12;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.about-container .form .input {
    color: #87a4b6;
    width: 100%;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
}

.about-container .form .input:focus {
    border-left: 5px solid #29bf12;
}

.about-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #013747;
    color: #29bf12;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.about-container .form .textarea:focus {
    border-left: 5px solid #29bf12;
}

.about-container .form .button-container {
    display: flex;
    gap: 10px;
}

.about-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #29bf12;
    padding: 10px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.about-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #29bf12;
    color: #29bf12;
}

.about-container .form .button-container .about-button-container {
    filter: drop-shadow(1px 1px 0px #29bf12);
    flex-basis: 30%;
}

.about-container .form .button-container .about-button-container .about-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #29bf12;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
}

.about-container .form .button-container .about-button-container .about-button:hover {
    background: #29bf12;
    color: #FFF;
}

.about-button {
    color: #FFFF !important;
}